/* CSS declarations go here */
header .login-btn {
    text-align: left;
}
.login-btn {
    display: inline-block;
    line-height: 50px;
    height: 50px;
    border-radius: 50px;
    background: rgba(57,100,208,1);
    background: -moz-linear-gradient(left, rgba(57,100,208,1) 0%, rgba(45,193,201,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(57,100,208,1)), color-stop(100%, rgba(45,193,201,1)));
    background: -webkit-linear-gradient(left, rgba(57,100,208,1) 0%, rgba(45,193,201,1) 100%);
    background: -o-linear-gradient(left, rgba(57,100,208,1) 0%, rgba(45,193,201,1) 100%);
    background: -ms-linear-gradient(left, rgba(57,100,208,1) 0%, rgba(45,193,201,1) 100%);
    background: linear-gradient(to right, rgba(57,100,208,1) 0%, rgba(45,193,201,1) 100%);
    padding: 0 35px;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
    animation-delay: 2.4s;
}
.login-btn a, #login-buttons a {
	text-decoration: none;
}

.login-link-text {
	color: #fff;
	text-decoration: none;
}

.active-logo {
    max-width: 120px;
    position: relative;
    left: 5px;
    top: -10px;
}

.banner_logo {
    width: 25em;
    display: block;
    margin: auto auto 2em;
}
.header-main {
    position: relative;
    padding-top: 200px;
    background-image: -webkit-radial-gradient(50% 62%, circle, #343451, #101122);
    background-image: -o-radial-gradient(50% 62%, circle, #343451, #101122);
    background-image: radial-gradient(circle at 50% 62%, #343451, #101122);
    overflow: hidden;
}
.thanks {
    color: #ffffff;
    font-size: 14px;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 4px;
    padding: 12px 16px;
    margin-bottom: 5px;
}
.dleft-team img {
    width: 140px;
    border: 3px solid #fff;
    height: 140px;
    border-radius: 50%;
}

.full_width {
    width: 100% !important;    
}